@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-coeiroink text-slate-900;
}
* {
  &:not(#hack-for-higher-priority) {
    font-family: "Kiwi Maru", sans-serif;
  }
}

h1 {
  @apply text-xl font-bold pb-1 border-b border-accent mb-1;
}

h2 {
  @apply text-lg font-bold pb-1 border-b border-slate-900 mb-1;
}

.button {
  @apply nm-flat-coeiroink text-center rounded-md p-2;

  transition: all 0.2s;

  &:hover {
    @apply nm-flat-coeiroink-sm;
  }
  &:active {
    @apply nm-inset-coeiroink;
  }

  &:disabled {
    @apply nm-flat-coeiroink-sm cursor-not-allowed text-slate-900/50;

    &.active {
      @apply nm-inset-coeiroink-sm;
    }
  }

  &.active {
    @apply nm-inset-coeiroink;
  }
}

.input[type="text"] {
  @apply nm-inset-coeiroink-sm text-slate-900 rounded-md p-2;

  &:focus {
    @apply outline-2 outline-accent;
  }
}

.tooltip-content {
  @apply nm-flat-white text-xs text-slate-900 rounded-md p-1;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  pointer-events: none;

  &[data-side="bottom"] {
    animation-name: slideDown;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.select-trigger {
  @apply rounded-md p-2 nm-inset-coeiroink-sm;
}

.select-icon {
  @apply float-right;
}

.select-content {
  @apply nm-flat-white-sm rounded-md p-2 w-36;
}

.select-item {
  @apply p-1 flex cursor-pointer;

  &[data-state="checked"] {
    @apply text-accent;
  }
}

.checkbox-root {
  @apply w-6 h-6 nm-inset-coeiroink-sm rounded-md grid place-items-center cursor-pointer mr-1;

  .checkbox-indicator {
    @apply text-accent scale-125;
  }
}

.checkbox-label {
  @apply text-slate-900 cursor-pointer;
}

.toast-root {
  @apply nm-flat-white text-slate-900 rounded-md p-2 fixed bottom-4 right-4 z-50 cursor-pointer;

  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  animation-name: fadeIn;

  &[data-state="close"] {
    transform: translateX(100%);
  }
  &[data-state="open"] {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
